@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light: #eee;
  --dark: #342F4E;
  --darker: #262336;
  --blue: #61DAFB;
  --crimson: #DB3052;
  --bark: #D1A479;
  --cream: #FFDFC1;
  --light-white: #fdfdf4;
}

* {
  @apply 
  m-0 
  p-0 
  box-border;
  font-family: 'Fira sans', sans-serif;
}

body {
  background-color: var(--cream);
}

.App {
  @apply 
  text-center 
  pt-16;
  color: var(--light);

}

h1 {
  @apply 
  text-black
  uppercase 
  mb-4;
  font-size: 3.125rem;
}

h2 {
  @apply
  text-black;
  font-size: 2.625rem;
}

h3 {
  @apply
  text-black;
  font-size: 2.25rem;
}

h4 {
  @apply
  text-black
  mb-4 
  mt-8;
  font-size: 1.75rem;
}

h5 {
  @apply
  text-black;
  font-size: 1.5rem;
}

p {
  @apply
  text-black;
  font-size: 1rem;
}


.recipes {
  @apply 
  mt-8 
  mx-auto 
  mb-0 
  gap-4 
  max-w-5xl;
}

.recipe {
  @apply 
  p-4 
  mb-8
  rounded-lg	
  text-left;
  background-color: var(--light-white);
  box-shadow:
  0 1px 1px hsl(0deg 0% 0% / 0.075),
  0 2px 2px hsl(0deg 0% 0% / 0.075),
  0 4px 4px hsl(0deg 0% 0% / 0.075),
  0 8px 8px hsl(0deg 0% 0% / 0.075),
  0 16px 16px hsl(0deg 0% 0% / 0.075)
;
}

button {
  @apply 
  appearance-none 
  outline-none 
  cursor-pointer 
  font-bold 
  uppercase 
  px-2 
  py-4 
  rounded
  text-black;
  background-color: var(--bark);
  font-size: 1rem;
  box-shadow:
  0 1px 1px hsl(0deg 0% 0% / 0.075),
  0 2px 2px hsl(0deg 0% 0% / 0.075),
  0 4px 4px hsl(0deg 0% 0% / 0.075),
  0 8px 8px hsl(0deg 0% 0% / 0.075),
  0 16px 16px hsl(0deg 0% 0% / 0.075);
}

.buttons {
  @apply 
  flex 
  items-center 
  mt-8 
  -ml-2;
}

.buttons button {
  @apply 
  my-0 
  mx-2;
}

button.remove {
  color: var(--light);
  background-color: var(--crimson);
}


ol, ul {
  @apply 
  list-inside
  text-black;
  font-size: 1rem;
}

li {
  @apply 
  leading-6;
}

ol {
  @apply 
  list-decimal;
}

ul{
  @apply 
  list-disc 
}

.popup {
  @apply 
  fixed 
  text-left	
  top-0 
  left-0 
  w-full 
  h-full 
  flex 
  items-center 
  justify-center 
  z-10;
}

.popup-inner {
  background-color: var(--light-white);
  @apply
  p-4
  w-full
  max-w-lg
  rounded-lg
  overflow-auto;
  max-height: calc(100vh - 4rem);
  
  box-shadow:
  0 1px 1px hsl(0deg 0% 0% / 0.075),
  0 2px 2px hsl(0deg 0% 0% / 0.075),
  0 4px 4px hsl(0deg 0% 0% / 0.075),
  0 8px 8px hsl(0deg 0% 0% / 0.075),
  0 16px 16px hsl(0deg 0% 0% / 0.075);
}

.popup h2 {
  @apply
  mb-4;
}

.form-group {
  @apply
  text-black
  mb-4;
}

.form-group:last-of-type {
  @apply
  mb-0;
}

input, textarea {
  @apply
  block
  w-full
  p-2
  resize-y	
  mb-2
  max-h-52;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 8%), 0 2px 2px hsl(0deg 0% 0% / 8%), 0 4px 4px hsl(0deg 0% 0% / 8%), 0 8px 8px hsl(0deg 0% 0% / 8%), 0 16px 16px hsl(0deg 0% 0% / 8%);
}

.form-group label {
  @apply
  block
  mb-2;
}

.form-group button {
  @apply
  mt-4;
  background-color: var(--bark);
}

.submit {
  background: var(--bark);
}